<h1>Hello, World</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<%= link_to 'Hello', demo_hello_path %>

<%= link_to 'Go to About Us', demo_about_path %>
<%= link_to 'Go to Contact Us', demo_contact_path %>
<%= link_to 'All subjects', subjects_path %>
<%= link_to 'All pages', pages_path %>
